# Ignore raw datasets
data/raw/*
data/processed/*

# Ignore model files
models/*.pkl

# Ignore virtual environments
venv/
.env

# Ignore temporary files
*.log
*.tmp
*.bak

# Ignore Jupyter notebook checkpoints
*.ipynb_checkpoints
