# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
stats.json/

# Virtual environment
venv/
.venv/
.
# VS Code settings
.vscode/

# Data directories

processed/
splits/
tranco_top1000.txt

features/
# Logs
*.log

# OS files
.DS_Store
Thumbs.db

models/
metrics/
error_analysis/
**/stats.json
app/stats.json
app/reports.json
# Environment variables
.env