numpy
pandas
requests
tldextract
python-whois
ipaddress
tqdm
scipy
python-dateutil
urllib3
dnspython
joblib
scikit-learn
matplotlib
seaborn
xgboost
lightgbm
shap
lime
beautifulsoup4
lxml
nltk
sentencepiece
regex



# pip install -r requirements.txt   run this command on your terminal after you correctly set the venv (virtual enviorment)
